* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    max-width: 1200px;
    display: flex;
}

.chatlist {
    max-width: 1200px;
    display: flex;
}

.chats {
    display: flex;
}

.message {
    
    padding: 15px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}